*{
    margin: 0;
    padding: 0;
    background: #16191C;
}


.titulo{
    margin-top: 100px;
    margin-left: 50px;
    font-size: 50px;
    color: white;

}


.alumno{
    margin-left: 50px;
}



.trimestres h2{
    display: inline-block;
    padding-left: 40px;
    position: relative;
    left: 250px;
    color: white;

}


.materias h2{
    margin-top: 13px;
    margin-left: 50px;
    color: white;

}
.materias{
    margin-top: -40px;
    margin-left: 50px;
    color: white;

}

.Matematica input{
    width: 40px;
    position: relative;
    top: -220px;
    left: 288px;
    text-align: center;
    background: white;
    border-radius: 20%;
}



.Lengua input{
    width: 40px;
    position: relative;
    top: -198px;
    left: 288px;
    text-align: center;
    background: white;
    border-radius: 20%;
}


.Ingles input{
    width: 40px;
    position: relative;
    top: -180px;
    left: 288px;
    text-align: center;
    background: white;
    border-radius: 20%;
}


.Tecnologia input{
    width: 40px;
    position: relative;
    top: -160px;
    left: 288px;
    text-align: center;
    background: white;
    border-radius: 20%;
}


.Teatro input{
    width: 40px;
    position: relative;
    top: -140px;
    left: 288px;
    text-align: center;
    background: white;
    border-radius: 20%;
}

.EducacionFisica input{
    width: 40px;
    position: relative;
    top: -120px;
    left: 288px;
    text-align: center;
    background: white;
    border-radius: 20%;
}


.c4{
    margin-left: 60px;
}
.c5{
    margin-left: 70px;
}

.c8{
    margin-left: 60px;
}
.c9{
    margin-left: 70px;
}
    
.c12{
    margin-left: 60px;
}
.c13{
    margin-left: 80px;
}

